<div class="w-64 h-full bg-primary-600 text-white flex flex-col">

  <div class="flex-1 flex flex-col px-3 py-6">

    <nav class="space-y-2">

      <a routerLink="/dashboard" routerLinkActive="bg-white text-primary-600"
        class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">

        <lucide-icon name="house" class="w-5 h-5">
        </lucide-icon>

        <span class="text-sm font-medium">
          Menú Principal
        </span>

      </a>

      <a *ngIf="puedeVer('Ingresos')" routerLink="/ingresos" routerLinkActive="bg-white text-primary-600" #rlaIngresos="routerLinkActive"
        class="flex items-center justify-between px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">

        <div class="flex items-center gap-3">
          <lucide-icon name="list" class="w-5 h-5"></lucide-icon>

          <span class="text-sm font-medium">
            Ingresos
          </span>
        </div>

        <span *ngIf="(sidebarCounter.ingresosCount | async)! > 0" [class.invisible]="!rlaIngresos.isActive"
          class="bg-primary text-white text-xs px-2 py-1 rounded-full">
          {{ sidebarCounter.ingresosCount | async }}
        </span>

      </a>

      <a *ngIf="puedeVer('Egresos')" routerLink="/egresos" routerLinkActive="bg-white text-primary-600" #rlaEgresos="routerLinkActive"
        class="flex items-center justify-between px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">
        <div class="flex items-center gap-3">
          <lucide-icon name="list" class="w-5 h-5">
          </lucide-icon>
          <span class="text-sm font-medium">
            Egresos
          </span>
        </div>
        <span *ngIf="(sidebarCounter.egresosCount | async)! > 0" [class.invisible]="!rlaEgresos.isActive"
          class="bg-primary text-white text-xs px-2 py-1 rounded-full">
          {{ sidebarCounter.egresosCount | async }}
        </span>
      </a>

      <a *ngIf="puedeVer('Productos')" routerLink="/productos" routerLinkActive="bg-white text-primary-600" #rlaProductos="routerLinkActive"
        class="flex items-center justify-between px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">
        <div class="flex items-center gap-3">
          <lucide-icon name="shopping-cart" class="w-5 h-5">
          </lucide-icon>
          <span class="text-sm font-medium">
            Productos
          </span>
        </div>
        <span *ngIf="(sidebarCounter.productosCount | async)! > 0" [class.invisible]="!rlaProductos.isActive"
          class="bg-primary text-white text-xs px-2 py-1 rounded-full">
          {{ sidebarCounter.productosCount | async }}
        </span>

      </a>

      <a *ngIf="puedeVer('Proveedores')" routerLink="/proveedores" routerLinkActive="bg-white text-primary-600" #rlaProveedores="routerLinkActive"
        class="flex items-center justify-between px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">
        <div class="flex items-center gap-3">
          <lucide-icon name="users" class="w-5 h-5">
          </lucide-icon>
          <span class="text-sm font-medium">
            Proveedores
          </span>
        </div>
        <span *ngIf="(sidebarCounter.proveedoresCount | async)! > 0" [class.invisible]="!rlaProveedores.isActive"
          class="bg-primary text-white text-xs px-2 py-1 rounded-full">
          {{ sidebarCounter.proveedoresCount | async }}
        </span>
      </a>


        <a *ngIf="puedeVer('Almacen')" routerLink="/almacen" routerLinkActive="bg-white text-primary-600" #rlaAlmacen="routerLinkActive"
          class="flex items-center justify-between px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">
        <div class="flex items-center gap-3">
          <lucide-icon name="package" class="w-5 h-5">
          </lucide-icon>
          <span class="text-sm font-medium">
            Almacén
          </span>
        </div>
        <span *ngIf="(sidebarCounter.almacenCount | async)! > 0" [class.invisible]="!rlaAlmacen.isActive"
          class="bg-primary text-white text-xs px-2 py-1 rounded-full">
          {{ sidebarCounter.almacenCount | async }}
        </span>
      </a>

      <a *ngIf="puedeVer('OrdenDeCompra')" routerLink="/orden-de-compra" routerLinkActive="bg-white text-primary-600" #rlaOrdenes="routerLinkActive"
        class="flex items-center justify-between px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">
        <div class="flex items-center gap-3">
          <lucide-icon name="clipboard-list" class="w-5 h-5">
          </lucide-icon>
          <span class="text-sm font-medium">
            Orden de Compra
          </span>
        </div>
        <span *ngIf="(sidebarCounter.ordenesCount | async)! > 0" [class.invisible]="!rlaOrdenes.isActive"
          class="bg-primary text-white text-xs px-2 py-1 rounded-full">
          {{ sidebarCounter.ordenesCount | async }}
        </span>

      </a>

    </nav>

    <div class="mt-auto">

      <p class="text-xs uppercase text-primary-200 mb-4 px-3 tracking-wide">
        Ajustes
      </p>

      <nav class="space-y-2">

        <a routerLink="/perfil" routerLinkActive="bg-white text-primary-600"
          class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">

          <lucide-icon name="user" class="w-5 h-5">
          </lucide-icon>

          <span class="text-sm font-medium">
            Ajustes Personales
          </span>

        </a>

        <a *ngIf="puedeVer('AjustesGlobales')" routerLink="/ajustes-globales" routerLinkActive="bg-white text-primary-600"
          class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-primary-600">

          <lucide-icon name="settings" class="w-5 h-5">
          </lucide-icon>

          <span class="text-sm font-medium">
            Ajustes Globales
          </span>

        </a>

      </nav>

    </div>

  </div>

</div>