<div class="w-64 h-full bg-[#531E1E] text-white flex flex-col">

  <div class="flex-1 flex flex-col px-3 py-6">

    <nav class="space-y-2">

        <a
        routerLink="/menu-principal"
        routerLinkActive="bg-white text-[#531E1E]"
        class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
      >

        <lucide-icon
          name="house"
          class="w-5 h-5"
        ></lucide-icon>

        <span class="text-sm font-medium">
          Menú Principal
        </span>

      </a>

      <a
        routerLink="/ingresos"
        routerLinkActive="bg-white text-[#531E1E]"
        class="flex items-center justify-between px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
      >

        <div class="flex items-center gap-3">

          <lucide-icon
            name="list"
            class="w-5 h-5"
          ></lucide-icon>

          <span class="text-sm font-medium">
            Ingresos
          </span>

        </div>

        <span class="bg-[#1F090A] text-white text-xs px-2 py-1 rounded-full">
          16
        </span>

      </a>

      <a
        routerLink="/egresos"
        routerLinkActive="bg-white text-[#531E1E]"
        class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
      >

        <lucide-icon
          name="list"
          class="w-5 h-5"
        ></lucide-icon>

        <span class="text-sm font-medium">
          Egresos
        </span>

      </a>

      <a
        routerLink="/productos"
        routerLinkActive="bg-white text-[#531E1E]"
        class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
      >

        <lucide-icon
          name="shopping-basket"
          class="w-5 h-5"
        ></lucide-icon>

        <span class="text-sm font-medium">
          Productos
        </span>

      </a>

      <a
        routerLink="/proveedores"
        routerLinkActive="bg-white text-[#531E1E]"
        class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
      >

        <lucide-icon
          name="users"
          class="w-5 h-5"
        ></lucide-icon>

        <span class="text-sm font-medium">
          Proveedores
        </span>

      </a>

      <a
        routerLink="/almacen"
        routerLinkActive="bg-white text-[#531E1E]"
        class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
      >

        <lucide-icon
          name="package"
          class="w-5 h-5"
        ></lucide-icon>

        <span class="text-sm font-medium">
          Almacén
        </span>

      </a>

      <a
        routerLink="/orden-de-compra"
        routerLinkActive="bg-white text-[#531E1E]"
        class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
      >

        <lucide-icon
          name="clipboard-list"
          class="w-5 h-5"
        ></lucide-icon>

        <span class="text-sm font-medium">
          Orden de Compra
        </span>

      </a>

    </nav>

    <div class="mt-auto">

      <p class="text-xs uppercase text-gray-300 mb-4 px-3 tracking-wide">
        Ajustes
      </p>

      <nav class="space-y-2">

        <a
          routerLink="/perfil"
          routerLinkActive="bg-white text-[#531E1E]"
          class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
        >

          <lucide-icon
            name="user"
            class="w-5 h-5"
          ></lucide-icon>

          <span class="text-sm font-medium">
            Ajustes Personales
          </span>

        </a>

        <a
          routerLink="/configuracion"
          routerLinkActive="bg-white text-[#531E1E]"
          class="flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 hover:bg-white hover:text-[#531E1E]"
        >

          <lucide-icon
            name="settings"
            class="w-5 h-5"
          ></lucide-icon>

          <span class="text-sm font-medium">
            Ajustes Globales
          </span>

        </a>

      </nav>

    </div>

  </div>

</div>